
	<!-- Form used for updation of data into database -->
<form class="form-horizontal alert alert-warning" id="editForm" ng-submit="UpdateCourse(currentCourse)" hidden>
	<h3 class="text-center">Update Course Details</h3>
		<div class="form-group">
			<label for="Name">Course Name:</label>
			<input type="text" class="form-control" ng-model="currentCourse.cname" value="{{currentCourse.c_name}}">
		</div>
		
		<div class="form-group">
			<label for="Price">Course Price:</label>
			<input type="text" class="form-control" ng-model="currentCourse.cprice" value="{{currentCourse.c_price}}">
		</div>
		<div class="form-group">
			<label for="Mode">Course Mode:</label>
			<label for="" class="radio-inline mode">
				<input type="radio" ng-model="currentCourse.cmode" value="Online" >Online
			</label>
			<label for="" class="radio-inline mode">
				<input type="radio" name="cmode" ng-model="currentCourse.cmode" value="Self-Paced">Self-Paced
			</label>
		</div>
		<div class="form-group">
			<button class="btn btn-warning" ng-disabled="empList.$invalid" ng-click="updateMsg(currentCourse.id)">Update</button>
		</div>
	</form>
